REACT_APP_API_BASE_URL=https://api.exemplo.pt/api
REACT_APP_ROUTER_MODE=hash
REACT_APP_ROUTER_BASENAME=/
REACT_APP_TOKEN_STORAGE_KEY=scrum-app.sharepoint.token
REACT_APP_USER_STORAGE_KEY=scrum-app.sharepoint.user
REACT_APP_ASSET_BASE_PATH=

